/**
 *
 * @author Olfat.emam@gmail.com
 * https://www.upwork.com/freelancers/~011afaac378ad2d181
 */

.audio_block
{
    margin-top: 20px;
    width:280px;
    height:30px;;
    
    margin-left: auto;
    margin-right: auto;
    background-color: transparent;
    vertical-align: middle;
}

audio { 
   display:none;
}

.cell
{
    width:auto;
    background: #50555C;
    position: relative;
    height: 25px;
    vertical-align: middle;
    display:inline-block;
    margin:0;
    margin-bottom: 0px !important;
    position: relative;
    top: 50%;
    transform: perspective(1px) translateY(-50%);
}
 
    
.audio_cell
{
    height:20px;
}
#pButton
{
    float: left;
    padding: 0px;
    margin-left: 4px;   
    border: none;
    width: 15px;
    height: 15px;
    background: url('../images/play1.png') center no-repeat; background-size: 100% 100%;
    display:inline-block;
    vertical-align: middle;
    position: relative;
    top: 50%;
    transform: perspective(1px) translateY(-50%);
}

#stopbutton
{
    float: left;
    padding: 0px;
    margin-left: 4px;   
    border: none;
    width: 15px;
    height: 15px;
    background: url('../images/stop1.png') center no-repeat; background-size: 100% 100%;
    vertical-align: middle;
    display:inline-block;
    position: relative;
    top: 50%;
    transform: perspective(1px) translateY(-50%);
}
#img_volume
{
    float: left;
    padding: 0px;
    margin-left: 4px;   
    border: none;
    width: 20px;
    height: 20px;
    background: url('../images/volume1.png') center no-repeat; background-size: 100% 100%;
    vertical-align: middle;
    display:inline-block;
    position: relative;
    top: 50%;
    transform: perspective(1px) translateY(-50%);
}



progress {
    float: left;
    padding: 0px;
    margin-left: 4px;   
    border: none;
    width: 150px;
    height: 7px;
    background: #ddd;
    color: goldenrod;
    border-radius: 10px;
    vertical-align: middle;
    display:inline-block;
    position: relative;
    top: 50%;
    transform: perspective(1px) translateY(-50%);
}

progress::-webkit-progress-bar {
  background: #ddd;
  border-radius: 5px;
  -webkit-border-radius: 15px;
}

progress::-webkit-progress-value {
  background: goldenrod;
  border-radius: 5px;
  -webkit-border-radius: 15px;
}

progress::-moz-progress-bar {
  background: goldenrod;
  border-radius: 5px;
  -moz-border-radius: 15px;
}

#seekbar
{
    margin-top: auto;
    margin-bottom: auto;
    vertical-align: middle;
    display: inline-block;
    position: relative;
    top: 50%;
    transform: perspective(1px) translateY(-50%);
}

#audio_div
{
    width:auto;
    background: #50555C;
    position: relative;
    height: 20px;
    vertical-align: middle;
    display:inline-block;
    margin:0;
    margin-bottom: 0px !important;
}

input[type=range] {
  -webkit-appearance: none;
  margin: 0;
  width: 50px;
  height:8px;
  margin-left: 5px;
  margin-right: 5px;

  vertical-align: middle;
  display: inline-block;
  background: transparent;
  
}

input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 50px;
  height: 8px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 1px 1px 1px #000000;
  background: #3071A9;
  border-radius: 5px;
  border: 1px solid #000000;
}

input[type=range]::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px #000000;
  border: 1px solid #000000;
  height: 20px;
  width: 10px;
  border-radius: 5px;
  background: #FFFFFF;/*white;*/
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -5px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #3071A9;
}
input[type=range]::-moz-range-track {
  width: 45px;
  height: 8px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 1px 1px 1px #000000;
  background: #3071A9;
  border-radius: 5px;
  border: 1px solid #000000;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000;
  border: 1px solid #000000;
  height: 20px;
  width: 10px;
  border-radius: 5px;
  background: #FFFFFF;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 50px;
  height: 8px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #3071A9;
  border: 1px solid #000000;
  border-radius: 10px;
  box-shadow: 1px 1px 1px #000000;
}
input[type=range]::-ms-fill-upper {
  background: #3071A9;
  border: 1px solid #000000;
  border-radius: 10px;
  box-shadow: 1px 1px 1px #000000;
}
input[type=range]::-ms-thumb {
  box-shadow: 1px 1px 1px #000000;
  border: 1px solid #000000;
  height: 20px;
  width: 10px;
  border-radius: 5px;
  background: #FFFFFF;
  cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
  background: #3071A9;
}
input[type=range]:focus::-ms-fill-upper {
  background: #3071A9;
}


.element {
  position: relative;
  top: 50%;
  transform: perspective(1px) translateY(-50%);
}