
@charset "utf-8"; /* CSS Document */
* {
	margin:0;
	padding:0;
	outline:0;
}
body{
-webkit-touch-callout:none;
-webkit-user-select:none;
-khtml-user-select:none;
-moz-user-select:none;
-ms-user-select:none;
-o-user-select:none;
user-select:none;
}
.visit_counter
 {
    z-index: 1;
    position: absolute;
    margin-top: 0px;
    top:920px;
    float:left;
    left: 1050px;
    border: #333 double; 
 }
.refresh_img
{   
    padding-top: 5px;
    margin-top: 5px;
    width:20px;
    height:20px;
    border:none;
}

.next_page
 {
    z-index: 1;
    position: absolute;
    margin-top: 0px;
    top:885px;
    float:left;
    left: 710px;
 }
 
 .prev_page
 {
    z-index: 1;
    position: absolute;
    top:885px;
    float:left;
    left: 800px;
}

.play_verse
{
    color:#50555C;
}

.hover_verse
{
    color:  gold;
}

.clicked_verse
{
    color:  darkorange;
}
.header_banner{
    width:1100px;
    height:90px;
    
    display:inline-table;
    background-color: transparent;
    background: url('../images/hidayat.png') center no-repeat;
}

.margin_column
{
    float: left;
    width:10px;
    min-width: 10px;
    height:850px;
    display:inline-table;
    overflow:hidden;
    color:#333;
    background-color: transparent;
}

.control-column {
    float: left;
    width:420px;
    min-width: 420px;
    height:850px;
    display:inline-table;
    overflow:hidden;
    color:#333;
    background-color: transparent;
/*    border:solid blue;
    border-width: 2px 2px 2px 2px;
*/    
}

.content-column {

    width:650px;
    min-width:650px;

    height:850px;
    min-height:850px;

    background-color: transparent;

    
    color:#333;
    margin:auto auto;
    padding:0;
    display:inline-table;
    
    /*    
    border:solid #D1D3D4;
    border-width: 10px 10px 10px 10px;

    zoom: 0.75;
    -moz-transform: scale(0.75);
    transform-origin: left top;
*/}
.mobile-content-column {

    width:650px;
    min-width:650px;

    height:850px;
    min-height:850px;

    background-color: transparent;

    
    color:#333;
    margin:auto auto;
    padding:0;
    display:inline-table;
    
    /*    
    border:solid #D1D3D4;
    border-width: 10px 10px 10px 10px;

    zoom: 0.75;
    -moz-transform: scale(0.75);
    transform-origin: left top;
*/}
.container {
    margin-left:auto;
    margin-right:auto;
    width: 1200px;
    height:1000px;
    margin:0 auto;
    padding:0;
    display:inline-table;
    background:#E3FCFF url('../images/borders/border_4.png')center no-repeat; background-size: 100% 100%;
}


canvas {
    margin-top: 0;
    margin-bottomt: 0;
    margin-left: 0;
    position: relative;
    float:left;
    vertical-align: top;
    margin-left:auto;
    margin-right:auto;
}

.footer,header{
    width:1150px;
    height:10px;
    float: left;
    display:inline-table;
    background-color: #E3FCFF;
    border-width:0 1px 0 0;
    border:1px solid #CCCCCC;
    border-width:0 1px 0 0;
}


#dbclick_info{
    z-index: 1;
    position: absolute;
    margin-top: 0px;
    top:885px;
    float:left;
    left: 130px;
    border: thin solid #D1D3D4;
}

