/**
 *
 * @author Olfat.emam@gmail.com
 * https://www.upwork.com/freelancers/~011afaac378ad2d181
 */


.center_label{

    vertical-align:middle;
    align-content: center;
    font-family: sans-serif;
    
    font-size: 13px;
    font-weight: bold;
    direction: ltr;
    text-align: center;
    color:#555;
    background:transparent;
    margin-left: auto; 
    margin-right: auto; 
    height:20px;
    width:270px;
    padding-top: 5px;
    padding-bottom: 0px;
    
}

._label,.titlename {
    vertical-align:middle;
    font-family: sans-serif;
    font-size: 13px;
    font-weight: bold;
    direction: ltr;
    text-align: left;
    width:80px;
    color:#555;
    background:transparent;
}

input[type=checkbox],input[type=radio] {
	margin:6px ;
	height:13px;
	vertical-align:middle;
}

#repeat_all
{
    width:159px;
    text-align: right;
    vertical-align:middle;
}


input[type=number],select{
    font-family: Tahoma;
    font-size: 11px;
    font-weight: bold;
    vertical-align: middle;
    direction: rtl;
    text-align: right;
    width:160px;
    height:auto;
    color: #333;
    background:whitesmoke;
    text-shadow:0 1px 0 #fff;
    box-shadow:0px 1px 1px #eee;
    -moz-box-shadow:0px 1px 1px #eee;
    -webkit-box-shadow:0 1px 1px #eee;

}

.tafseer_block
{
    margin-top: 0px;

    width:280px;
    height:355px;
    margin-left: auto;
    margin-right: auto;
    text-align: justify;   
    vertical-align: top;
    background: transparent;
    border: none;
}

.goto_page_label:hover, .goto_page_label:active {
background:#f6f6f6
}

.inlinelabel{
    vertical-align:middle;
    font-family: sans-serif;
    font-size: 12px;
    font-weight: bold;
    direction: ltr;
    color:#555;
    background:transparent;
    display: inline-table;
}
.goto_page_input
{
    vertical-align:middle;
    width: 6em !important;
    display:inline-table;
}

.goto_page_btn
{
    vertical-align:middle;
    font-family: sans-serif;
    font-size: 13px;
    font-weight: bold;
    direction: ltr;
    color:#555;
    display: inline-table;
}


.controlls_head
{
    width:300px;
    height:60px;
    float: right;
    margin-left: auto;
    margin-right: auto;
    vertical-align: middle;
    
    background-color: transparent;
    display: table-cell;
    border: none;
}

.controlls_goto
{
    width:280px;
    height:20px;
    float: right;
    margin-left: auto;
    margin-right: auto;
        
    vertical-align: middle;


    border:none;
    background-color: purple;
}

.left_control_box
{
    width:280px;
    height:698px;
    float: right;
    margin-left: auto;
    margin-right: auto;
        
    vertical-align: middle;

    border: 1px solid #D0D0BF;
    border:solid #D1D3D4;
    border-width: 10px 10px 10px 10px;
    background-color: transparent;
}


table { 
    border-spacing: 0;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    vertical-align: middle;
    border: none;
    padding: 0px;
    background-color: transparent;
}


.tafseer_title{
    font-family: sans-serif;
    font-size: x-large;
    margin-top: 5px;
    margin-bottom: 5px;
    width:280px;
    height: auto;
    background: transparent;
    color: #555;
    display: block;
    overflow: auto;
    text-align:center;

    border:solid #D1D3D4;
    border-width: 7px 0px 7px 0px;
}


.tafseer_text
{
   font-family: sans-serif;
    font-size: 18px;
    font-weight: lighter;
    direction: ltr;
    text-align: left;
    padding-left: 5px;
    padding-right: 5px;
    width:270px;
    height:320px;
    display: block;
    overflow: auto;
    border:none;
    color:#555;
    background: transparent;
}

.help_text
{
    border:thin solid #D1D3D4;
    font-family: sans-serif;
    font-size: 10px;
    font-weight: bolder;
    direction: ltr;
    text-align: left;
    color:#555;
    background:transparent;
}

